body{
    width: 100vw;
    height: 100vh;
    background-color:  white;
}

.box{
    border: 2px solid #0d6efd;
    border-radius: 12px;
    background-color: #fff;
}

input{
    border: 0;
    border-bottom: 2px solid #0d6efd;
    padding: 1%;
    outline: 0;
}

label{
    font-size: 15pt;
    color: #0d6efd;
}

a{
    text-decoration: none;
    color: black;
    transition: 0.2s ease-in-out;
}

a:hover{
    color: #0d6efd;
}

@media screen and (max-width: 800px) {
    .img-col{
        display: none;
    }
}